body{
background-image: url('imgs/printing-mock-up-bingo-numbers.jpg');
background-size: cover;
font-family: Arial;
display: flex;
align-items: center;
overflow: hidden;
}
.logo{
  position: absolute;
  top:10px;
  width: 50vw;
  left: 15vw;
}
.grid{
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-height: 1vw;
  aspect-ratio: 1;
  margin-left: 15vw;
  margin-right: auto;
  margin-top: 18vh;
}
.number{
  width: 4vw;
  margin: 5px;
  border-radius: 100%;
  aspect-ratio: 1;
  border: 0;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  transition: all 0.3s;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

button{
  transition: all 0.3;
}
button:hover{
  transform: translateX(1px) translateY(-1px);
}
button:active{
  transform: translate(0);
}
.reset{
  bottom: 10px;
  right: 10px;
  width: 10vw;
  height: 5vw;
  font-size: 25px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(120, 37, 37);
  color: white;
}
.reset-container,
.ostatni-container{
  padding-top: 10px;
  margin-right: 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  width:250px;
  height: 340px;
}
.ostatni-container{
  background-color: rgba(255,255,255,0.8);
  border-radius: 2px;
  padding: 0 10px;
  width:250px;
  height: 340px;
}
.popup{
  opacity: 0;
  top:40%;
  left: -30%;
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  border-radius: 8px;
  padding: 10px 5px;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  cursor: default;
}
.buttons{
  margin: auto;
  padding-top: 10px;
}
.tak,.anuluj{
  background-color: white;
  border: 0;
  padding: 10px 5px;
  border-radius: 4px;
}
.tak{
  margin-right: 10px;
}
.switch {
  position: relative;
  display: inline;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  min-width: 60px;
  min-height: 35px;
  border: dotted   1px blue;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.slider-container p{
  font-size: 20px;
  margin: 10px;
}
.slider-container{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ostatnia-text{
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 28px;
  color: black;
  font-family: Arial;
}
.ostatnia-button{
  margin: 10px 0;
  background-color: red;
  color: white;
  aspect-ratio: 1;
  width: 100%;
  border: 0;
  border-radius: 100%;
  font-weight: 500;
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items:flex-start; 
  position: absolute;
  top: 0;
  right: -22%;
  padding-top: 3vh;
  opacity: 0.7;
  width: min-content;
  height: fit-content;
  transition: all .5s;
}
.show-settings{
  border: none;
  background-color: transparent;
  background-color: rgba(255,255,255,0.8);
  border-radius: 2px 0px 0px 2px;
  padding: 0 10px;
}
.show-settings>img{
  width: 4vh;
}
.show-settings>img:hover{
  scale: 1.1;
  animation: rotate .5s;
}
.show-settings:hover{
  transform: translate(0);
}
.settings-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255,255,255,0.8);
  border-radius: 0 2px 2px 2px;
  padding: 10px 20px;}
.clicked {
  color: white;
  background-color: red;
  -webkit-animation-name: scale;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
}
@keyframes rotate {
  to{
    transform: rotate(720deg);
  }
}
@-webkit-keyframes scale {
from{
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
}
  50%{
    transform: scale(10);
  }
  99%{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
.inv{
  position: absolute;
  opacity: 0;
  top:0;
  right: 0;
}
.ainer{
  width: 100%;
  aspect-ratio: 1;
}